<table class="table">
  <tr>
    <td style="width: 100px;">Order #:</td>
    <td>{{ oShoppingOrder.getUuid() }}</td>
  </tr>
  <tr>
    <td>Payment Status:</td>
    <td>
      {{ oShoppingOrder.getShoppingPaymentRelatedByShoppingPaymentId().getStatus() | upper }}
    </td>
  </tr>
  <tr>
    <td>Date:</td>
    <td>{{ oShoppingOrder.getCreatedAt() }}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{ oShoppingOrder.getShippingFullName() }}</td>
  </tr>
  <tr>
    <td style="vertical-align: top;" valign="top">Shipping Address:</td>
    <td>
      {{ oShoppingOrder.getShippingAddressLine1() }}<br/>
      {{ oShoppingOrder.getShippingCity() }},
      {{ oShoppingOrder.getShippingStateRegionName() }}
      {{ oShoppingOrder.getShippingZipPostcode() }}
      <p style="font-weight: bold;">
        {{ oShoppingOrder.getShippingCountryName() }}
      </p>
    </td>
  </tr>
  {% if oShoppingOrder.getNoteToSeller() %}
  <tr>
    <td>Extra Information:</td>
    <td>{{ oShoppingOrder.getNoteToSeller() }}</td>
  </tr>
  {% endif %}
</table>
<br/>

<table>
  <tr>
    <td style="width: 100px; vertical-align: top;" valign="top">
      {{ image_tag_multimedia(oCollectible.getPrimaryImage(), '75x75') }}
    </td>
    <td style="vertical-align: top;">
      <table class="table">
        <tr>
          <td style="width: 25%;">Name:</td>
          <td>{{ oCollectible.getName() }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top;" valign="top">Description:</td>
          <td>{{ oCollectible.getDescription() | striptags | raw }}</td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>${{ oShoppingOrder.getCollectiblesAmount('float') | number_format(2, '.', ',') }}</td>
        </tr>
        <tr>
          <td>Condition:</td>
          <td>{{ oCollectible.getCollectibleForSale().getCondition() }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
