{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ buyer_name }}!
</p>

<p>
  Congratulations! You’ve agreed to purchase
  {{ oSeller.displayName }}’s {{ link_to_collectible(oCollectible, 'text', {absolute: true}) }}!
</p>

<p>
  {{ oSeller.displayName }} has been notified of your purchase and will be in
  contact with you soon to finalize any outstanding details.
</p>

<p>Here are your transaction details:</p>
{% include 'shopping/_order_details.html.twig' %}

<p>
  You will be able to access online the details
  of your order at the address below:
</p>
<p>
  {{ url_for('shopping_order_with_hash', oShoppingOrder, {absolute: true}) }}
</p>

{% endblock %}
