{% extends "common/base.html.twig" %}

{% block content %}
{% set bIsSingleItem = (oCollectiblesHolder | length == 1 ) %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hello from CollectorsQuest.com!
</p>

<p>
  We noticed that you have {{ bIsSingleItem ? 'one collectible' : 'some collectibles' }}
  about to expire {{ bExpiresToday ? 'today' : 'on ' ~ oExpiryDate|date('F jS, l') }}:
</p>

{% for oCollectible in oCollectiblesHolder %}
<p>
  {{ link_to_collectible(oCollectible, 'text', {absolute: true}) }}
</p>
{% endfor %}

{% if bExpiresToday and oSeller.hasPackageCredits %}
<p>
  <br />
  Consider relisting {{ bIsSingleItem ? 'it' : 'them' }}
  {{ link_to('here', "@auto_login?hash=#{oSeller.getCollector.autoLoginHash}&r=#{url_for('@mycq_marketplace_credit_history?filter_by=expired', true)}", {absolute: true}) }}.
  <br />
</p>
{% endif %}
{% if bExpiresToday and not oSeller.hasPackageCredits %}
<p>
  <br />
  Consider
  {{ link_to('purchasing some credits', "@auto_login?hash=#{oSeller.getCollector.autoLoginHash}&r=#{url_for('@seller_packages', true)}", {absolute: true}) }}
  today and relisting your {{ bIsSingleItem ? 'item' : 'items' }}.
  <br />
</p>
{% endif %}

{% endblock %}
