{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ user_comment.name }}!
</p>

<p>
  Someone responded to your comment on Collectors Quest!<br />
  <br />

  New comment on your post "{{ model_object }}"<br />
  Author : {{ new_comment.name }}<br />
  Comment:<br />
  {{ new_comment.body }}<br />
  <br />

  You can see all comments in this thread here:<br />
  {{ thread_url }}<br />
  <br />
</p>

<small>
  You can unsubscribe from comment notifications by {{ link_to('clicking here', unsubscribe_url, true) }}.
</small>

{% endblock %}