{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ oOwner.displayName }}!
</p>

<p>
  Someone posted a new comment about your {{ link_to(oModelObject, sThreadUrl) }} on Collectors Quest!
</p>

<p>
  {% if oNewComment.isByRegisteredUser %}
    Author: {{ link_to_collector(oNewComment.collector, 'text') }}<br />
  {% else %}
    Author: {{ oNewComment.authorName }} ({{ oNewComment.authorEmail }})<br />
  {% endif %}
</p>
<p style="background-color: #ffffcc">
  {{ oNewComment.body }}
</p>

<p>
  {{ link_to('See all comments here', sThreadUrl ~ '#comments') }} to respond and make a friend!
</p>

<p>
  Permalink: {{ sThreadUrl ~ '#comment-' ~ oNewComment.id }}
</p>

<p>
  Hide comment: {{ link_to('Click here', sCommentRemoveUrl) }}<br />
  Report spam: {{ link_to('Click here', sCommentReportSpamUrl) }}
</p>

<small>
  You can unsubscribe from further comment notifications by
  {{ link_to('clicking here', "@auto_login?hash=#{oOwner.autoLoginHash}&r=#{url_for('@mycq_profile_email_preferences?comments=0&comments_opt_out=1', false) | url_encode}", {absolute: true}) }}.
</small>
{% endblock %}
