{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ oOwner.displayName }}!
</p>

<p>
  Someone posted a new comment about your {{ link_to(oModelObject, sThreadUrl) }} on Collectors Quest!
</p>

<p>
  {% if oNewComment.isByRegisteredUser %}
    Author: {{ link_to_collector(oNewComment.collector, 'text') }}<br />
  {% else %}
    Author: {{ oNewComment.authorName }} ({{ oNewComment.authorEmail }})<br />
  {% endif %}
</p>
<p style="background-color: #ffffcc">
  {{ oNewComment.body }}
</p>

<p>
  {{ link_to('See all comments here', sThreadUrl ~ '#comments') }} to respond and make a friend!
</p>

<p>
  Permalink: {{ sThreadUrl ~ '#comment-' ~ oNewComment.id }}
</p>

<p>
  Hide comment: {{ sCommentRemoveUrl }}<br />
  Report spam: {{ sCommentReportSpamUrl }}
</p>
{% endblock %}
