{% extends "common/base.html.twig" %}

{% block content %}
<p style="margin-bottom: 10px; font-weight: bold;">
  Dear {{ collector.displayName }},
</p>

<p>
  So, you’ve forgotten your Collectors Quest password!
  It happens to all of us sometimes. We forgive you.
</p>

<p>
  Your current login details are as follows:<br>
  &nbsp;&nbsp;&nbsp; <b>username:</b> {{ collector.username }}<br>
  &nbsp;&nbsp;&nbsp; <b>password:</b> {{ password }}</p>

<p>
  Once you log in, you can go to
  {{ link_to('your account settings', '@mycq_profile', { absolute: true }) }}
  and change your password to something easier to remember.
</p>

<p>
  Please
  {{ link_to('click here', "@auto_login?hash=#{collector.autoLoginHash}&r=#{url_for('@mycq_profile', true)}", {absolute: true}) }}
  to log into your account and get back into the wide world of collecting!
  (If you originally signed up using a social network account, please be
  sure to log back in using that account using the 'social media' tab.)
</p>
{% endblock %}
