{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ oReceiver.displayName }}!
</p>

<p>
  {{ link_to_collector(oSender, 'text') }}
  has sent you a message on Collectors Quest:
</p>

<p>
  {{ link_to_collector(oSender, 'image', {'link_to' : {'style': 'float: right'} }) }}
  <br /><br />
  <em>{{ oMessage.body|raw }}</em>
</p>
<br style="clear: both;" />

<p>
  {{ link_to('Click here', sThreadUrl, { absolute: true }) }} to respond to
  {{ link_to_collector(oSender, 'text') }}!
</p>

<small>
  You can unsubscribe from further comment notifications by
  {{ link_to('clicking here', "@auto_login?hash=#{oReceiver.autoLoginHash}&r=#{url_for('@mycq_profile_email_preferences?messages=0&messages_opt_out=1', false) | url_encode}", {absolute: true}) }}.
</small>

{% endblock %}
