{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ oReceiver.displayName }}!
</p>

<p>
  {{ oSender.displayName }} has sent you a message on Collectors Quest :
</p>

<p>
  {{ link_to_collector(oSender, 'image', { style: "float: left"}) }}
  {% autoescape false %}
    <em>{{ oMessage.body }}</em>
  {% endautoescape %}
</p>
<br styl="clear: both" />

<p>
  {{ link_to('Click here', sThreadUrl, { absolute: true }) }} to respond to {{ oSender.displayName }}!
</p>

{% endblock %}