{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  You've sent the following message to {{ sReceiver }}:
</p>

<p>
  {{ link_to_collector(oSender, 'image', {'link_to': {'style': 'float: right'}  }) }}

  {{ link_to_collector(oSender, 'text') }}
  has sent you a message through CollectorsQuest.com:
  <br /><br />
  <em>{{ sMessageBody|raw }}</em>
</p>
<br style="clear: both;" />

<small>
  You can unsubscribe from further private message notifications by
  {{ link_to('clicking here', "@auto_login?hash=#{oSender.autoLoginHash}&r=#{url_for('@mycq_profile_email_preferences?messages=0&messages_opt_out=1', false) | url_encode}", {absolute: true}) }}.
</small>

{% endblock %}
