{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hello from CollectorsQuest.com!
</p>

<p>
  {{ link_to_collector(oSender, 'image', { 'link_to': {'style': 'float: right'} }) }}

  {{ link_to_collector(oSender, 'text') }}
  has sent you a message through CollectorsQuest.com:
  <br /><br />
  <strong>{{ sSubject|raw }}</strong>
  <br /><br />
  <em>{{ sMessageBody|raw|nl2br }}</em>
</p>
<br style="clear: both;" />

<p>
  <a href="mailto:{{ oSender.email }}">Write back</a> to
  {{ link_to_collector(oSender, 'text') }}!
</p>

{% endblock %}
