{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hello from Collectorsquest.com!
</p>

<p>
  {{ link_to_collector(oSender, 'image', { style: "float: right"}) }}
  {{ oSender.displayName }} has sent you a message through Collectors Quest :
  <br /><br />
  <em>{{ sMessageBody|raw }}</em>
</p>
<br styl="clear: both" />

<p>
  <a href="mailto:{{ oSender.email }}">Write back to {{ oSender.displayName }}!</a>
</p>

{% endblock %}
